html {
    font-family: Lato;
    min-width: 100%;
}
*,::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    background-color: #323f43;
    color:white;
    font-family: 'roboto';
    min-width: 100%;
    height: auto;
    overflow-x: hidden;

}

a:visited {
    color: inherit;
}
a {
    text-decoration: none;
    transition: all 0.2s ease;

}

.postlink {
    color: #00ced1;
    text-decoration: none;
    transition: all 0.4s ease;
}
.postlink:visited{
    color: #00ced1;
}
.postlink:hover {
    text-decoration: underline;
    text-shadow: 0px 7px 10px #00ced1;
    

}
#MicroBlog {
    color: violet;
    display: inline;
    
}

.navbar {
    max-width: 620px;
    margin :1.5em auto;
    padding:0 20px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.brand {
    display: flex;
    align-items: center;
}

#brand-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
}
img[alt='Logo'] {
    margin-right: 0.3em;
}

.navigation {
    list-style: none;
    display: flex;
    justify-self: flex-start;
    width: fit-content;
    align-self: center;
    flex-grow: 1;
    flex-wrap: wrap;
    /* margin-left: 20%; */

}

.navigation-link {
    margin-left: 1.2em;
    text-decoration: none;
    color:#5c6b70;
    transition: color 0.2s ease;
    
}

.navigation-link:hover{
    color: black;
}

.main {
    max-width: 640px;
    min-width: 640px;
    margin: 0 auto;
    padding:0 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-input {
    width: 100%;
}


.form-label {
    display: block;
    margin: 8px;
    font-size: larger;
}

.form-textarea {
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    background-color: #5c6b70;
    color: white;
    margin-bottom: 10px;
    
}
#edit-form {
    height: 100%;
    width: 100%;
}


.form-submit,.form-update {
    position: relative;
    background-color: #232323;
    border: none;
    font-size: 18px;
    font-weight: 200 !important;
    color:white;
    padding:10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.form-submit::after,.form-update::after {
    content: "";
    position: absolute;
    border: 3.2px solid green;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
    animation: colors 5s linear infinite;
    visibility: hidden;    
}

.form-submit:hover,.form-update:hover {
    transform: scale(1.2);
    background-color: #333333;
    box-shadow: 0 0 50px 10px #333333;
}
.form-submit:hover::after,.form-update:hover::after {
    visibility: visible;

}
@keyframes colors {
    0%, 10%, 30%, 50%, 70%, 85%, 100% {
        border-color: #ff5252;
    }
    15% {
        border-color: #ffa000;
    }
    40% {
        border-color: #ffd740;
    }
    60% {
        border-color: #4caf50;
    }
    90% {
        border-color: #00bcd4;
    }
}
.entry {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.entry-title {
    display: inline;
    font-size: 20px;
    color: #3cd0ff;
}

.entry-date {
    font-size: 16px;
    color:#5c6b70
}

.entry-content {
    font-size: 17px;
    line-height: 150%;
    justify-self: start;
    align-self: flex-end;
    display: inline-block;
    width: 100%;
}

.entry-content::selection{
    color: gold;
    background: black;
}
.entry-action {
    color:transparent
}
.entry-action img {
    position: relative;
    margin-right: clamp(2px,0.2rem,5px);
    top: 2px;
    left: 5px;
    transition: all 0.5s ease;

}
.entry-action img:hover{
    transform: scale(1.2);
}




.footer {
    background-color: #323f43;
    padding: 40px 0;
    margin: 50px 0 0 0;
    border-top:2px solid black;
    color: white;
    font-size: 12px;
   
}

.footer-content {
    padding: 0 10px;
    max-width: 640px;
    margin: 0 auto;
    display: flex;
}

.footer .left {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.footer .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer-item {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    width: max-content;
}



.footer-item::after {
 content: "";
 position: absolute;
 width:0;   
 height: 10px;
 border-bottom: 2px solid rgba(32, 209, 218, 0.725);
 margin: 0;
 left: 0;
 bottom: -2px;
 transition: all 0.4s ease;
 opacity: 0;
}



.footer-item:hover::after {
    opacity: 1;
    width: 100%;
}

@media only screen and (max-width:768px) {
    .main {
        min-width: 100%;
        overflow-x: hidden;

    }
    body {
        overflow-x: hidden;
    }

}

.colorChange {
    filter: hue-rotate(240deg);

}

/*  */