{% extends "index.html" %}


{% block content %}
<a id="deleteAll" style="margin-left:75%"> Delete All </a>
<div class="card-container">
  {% for entry in entries %}
  <div class="card" id="card-{{entry['_id']}}">
    <p class="card-title">{{entry['content'] | truncate(20)}}</p>
    <a href="/permdelete/{{entry['_id']}}" class="permdelete-btn" data-id="{{entry['_id']}}" style="display: block;" onclick="">  
      <img src="/static/perm_delete.svg" alt="delete icon" style="top: 10px;" class="card-action" width="25px" height="25px">  
    </a>
    <p class="card-content">{{entry['content'] | safe}}</p>
    <a href="/recover/{{entry['_id']}}"  class="recover-btn" data-id="{{entry['_id']}}" style="display: block;" onclick="">  
      <img src="/static/restore.svg" alt="restore icon" class="card-action" width="25px" height="25px">  
    </a>



    {% if entry['time_left'] == 1 %}
    <p class="time-left">{{ entry['time_left'] }} Day Left</p>
    {% else %}
        <p class="time-left">{{ entry['time_left'] }} Days Left</p>
    {% endif %}





  </div>
{% endfor %}
</div>


<script>


  document.getElementById("deleteAll").addEventListener("click",deleteAll)
  function deleteAll() {
    console.log("Deleting All...")
    document.querySelectorAll(".card").forEach(card => {
      var entryId = card.querySelector(".permdelete-btn")
      fetch(`/permdelete/${entryId.dataset.id}`)
      .then(
        response => {
          if (response.ok) {
            card.remove();
            console.log(`Successfully removed card.}`)
          }
          else {
            console.log("Failed to remove card....")
          }
        }
      
      )
      .catch(
        error => {
          console.error(error)
        }
      )
    })
  }







 document.querySelectorAll(".permdelete-btn").forEach(button => {
  button.addEventListener("click",function(event) {
    event.preventDefault();
    var delId = button.dataset.id;
    console.log(delId);
    var delCardId = `card-${delId}`;
    var delCard = document.getElementById(delCardId);
    delCard.classList.add("animate__animated", "animate__rotateOut");
    delCard.addEventListener("animationend",function() {
      window.location.href = `/permdelete/${delId}`
    }) 
   

  })
 })





























  document.querySelectorAll(".recover-btn").forEach(button => {
    button.addEventListener("click", function(event) {
      event.preventDefault();
      var cardId = this.dataset.id
      var card = document.getElementById(`card-${cardId}`)
      card.classList.add("animate__animated", "animate__zoomOutLeft");

      card.addEventListener("animationend",function() {
        window.location.href = `/recover/${cardId}`
      })
    })
  })
</script>
{% endblock %}