{% extends "index.html" %}

{% block content %}
<section>
    <h1>Add New Post</h1>
    <form class="form" action="" method="POST">
        <p class="form-input">
            <label class="form-label" for="post">Post contents :</label>
            <textarea name="content" id="post" cols="30" rows="10" class="form-textarea"></textarea>
        </p>
        <div class="container" style="display: flex;width:100%;justify-content:space-between; margin:10px 0px">
        <div class="radio-buttons">
            <label for="private-radio">Private
            <input type="radio" name="radio" value="private" id="private-radio">
            </label>
            <label for="public-radio">Public
                <input type="radio" name="radio" value="public" id="public-radio" checked>
            </label>
        </div>
        <button class="form-submit" type="submit" >submit</button>

        </div>

    </form>
</section>

<section>
    <h1 style="font-size: 2rem; margin-bottom:-10px; color:antiquewhite; display:inline-block">Recent Posts</h1>
    {% for entry in entries %}
    <article id="entry-{{entry['id']}}" class="entry">
        <div>
            <h2 class="entry-title">{{entry['content'] | truncate(25,true)}}</h2>
            <time class="entry-date"> • {{entry['date']}}</time>

            <a class="entry-action delete" data-id="{{entry['id']}}" href="/delete/{{entry['id']}}">
                <img src="/static/delete.svg" width="25px" height="25px"/>
            </a>

            <a class="entry-action" name="pin" href="/pin/{{entry['id']}}" style="color: transparent;">
                <img src="/static/Pin.svg" width="25px" height="25px"/>
            </a>

            <a class="entry-action " href="/edit/{{entry['id']}}" >
                <img src="/static/Pencil.svg" width="25px" height="25px"/>
            </a>
        </div>
        <p class="entry-content">{{ entry['content'] | replace('\n','<br>') | strongify |  safe }}</p>
        📌 {{ entry['pinned'] }} 
    </article>
    {% endfor %}
</section>


<script>
    


    document.querySelectorAll(".delete").forEach(button => {
        
        button.addEventListener("click",function(event){
            event.preventDefault();
            var button_id = button.dataset.id;
            var entryId = `entry-${button_id}`;
            var entry = document.getElementById(entryId);
            entry.classList.add("animate__animated", "animate__zoomOutRight");

            entry.addEventListener('animationend',function() {
                fetch(`/delete/${button_id}`)
                .then(
                    response => {
                        if (response.ok) {
                            entry.remove();
                        
                        }
                        else {
                            console.error("Failed to delete entry.")
                        }
                    }
                )
                .catch(
                    error => console.error(`Error:${error}`)
                )
            })
        })
        
        

    })



    var pins = document.querySelectorAll('a[name="pin"]');
    
    document.addEventListener('keydown',function(event) {
        console.log(event)
        if (event.key == "Shift") {
            event.preventDefault()
            
            pins.forEach(
                function(pin) {
                    pin.classList.toggle('colorChange') 
                    if (!pin.href.includes('decrease')) {
                        

                        var newHref = pin.href.replace("pin","decrease-pin")
                        console.log(`The new link is : ${newHref}`)
                        pin.href = newHref
                    }
                    else {
                        var newHref = pin.href.replace("decrease-pin","pin")
                        console.log(`The new link is : ${newHref}`)
                        pin.href = newHref

                    }
                }
            )
        }
        
    })


</script>
{% endblock %}