{% extends "index.html" %}




{% block content %}


<section>
    <h1 style="font-style: italic;">What's The Password?</h1>
    <form class="form" action="" method="POST">
        <p class="form-input">
            <textarea name="content" id="post" cols="30" rows="10" class="form-textarea"></textarea>
        </p>
        <div class="container" style="display: flex;width:100%;justify-content:space-between; margin:10px 0px">
       
        <button class="form-submit" type="submit" >Check</button>

        </div>

    </form>
</section>



{% endblock %}